/* =================================== TEXT ================================== */
a {
    color: var(--secondary-bg-color);
    text-decoration: underline;
    font-weight: lighter;
    cursor: pointer;
}

.title {
    font-size: 72px;
}

.a-btn {
    color: white;
    text-decoration: none;
    font-size: 17px;
    background-color: var(--main-bg-color);
    border-radius: 50px;
    padding: 7px;
    cursor: pointer;
}

.text-muted {
    opacity: .6;
}

/* ==================================== FORM ================================== */
form {
    padding: 30px;
    border-radius: 20px;
    border: 1px solid lightgray;

    width: calc(100% - 200px);
    margin: 0 auto;

    text-align: center;
}

form .form-other-options {
    margin-top: 30px;
    text-align: center;
    line-height: 150%;
}

.form-item {
    padding: 15px 0;
    font-size: 20px;
}

form button {
    margin-top: 15px;
    border: 0;
    background-color: var(--main-bg-color);
    color: white;

    padding: 15px 25px;
    border-radius: 30px;

    font-size: 20px;

    cursor: pointer;
}

form label, form input {
    height: 35px;
    vertical-align: middle;
}

form input {
    margin-left: 30px;
    border: 0;
    border-bottom: 3px solid var(--main-bg-color);
    transition: 500ms;

    font-size: 17px;
    font: var(--font);
}

form input:focus {
    outline: none;
    border-color: var(--secondary-bg-color);
}

form a.a-btn {
    font-size: 20px;
}

/* ============================= DROPDOWN ================================= */
.dropdown-btn {
    border-radius: 0;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;

    width: auto;
    height: auto;

    visibility: hidden;

    text-align: center;

    background-color: lightgray;

    padding: 15px;
    line-height: 200%;
}

.dropdown-menu a {
    padding: 10px 25px;
    
    display: inline;
}

.dropdown-show {
    visibility: visible;
}

/* ========================================= BLURB +++++++++++++++++++++++++++++++++++++++ */
.blurb {
    padding: 15px;
    width: 80%;
    height: auto;

    background-color: lightgray;
    border-radius: 15px;
}

.blurb-title {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

/* ========================================== BOARD ========================================*/
.board {
    padding: 30px;
}