#footer-container a {
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: white;
}

#properties-list {
    padding: 0;
    margin-top: 1px;
}

#properties-list > li {
    color: white;
    display: inline;
    padding: 1px 10px;
}